
.container{
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
}

.form{
    margin-top: 3rem;
}

.dataEntry {
    background-color:#008bba46;
}

.addList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    margin-top: 8px;
}

span {
    color: red;
    font-size: 12px;
}

.delButton{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    font-weight: 600;
    width: 42px;
    height: 32px;
}

.submit{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 400;
    margin: 8px;
    margin-bottom: 12px;
}

.GoBack{
    margin-top: 3rem;
    text-decoration: none;
    color: #008CBA;
    font-weight: 700;
}